/**/

body{
  background-color: whitesmoke;
}

.container{
  width: 98%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.row{
  text-align: center;
}

.imgbtn{
  width: 100%;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.linkcomp{
  background-color: gainsboro;
  width: 95%;
  min-height: 55px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}

label{
  font-size: 25px;
  padding-top: -50px;
  padding-right: -50px;
  text-align: justify;
}

.lblindex{
  text-align: justify;
}

#mapa{
  width: 98%;
  height: 450px;
  border:0;
  border-radius: 5px 5px 5px 5px;
  
}

.rinst{
  margin-top: 20px;
}

.rcursos{
  margin-top: 20px;
}

.rmapa{
  margin-top: 20px;
} 

#carousel{
  width: 100%;
  margin-top: 20px;
}

a{
  color: firebrick;
}

a link{
  text-decoration: none;
}

a hover{
  text-decoration: none;
}